input{
    margin-top: 10px;
    margin-right: 50px;
    padding: 5px 200px 5px 0px;

}

legend{
    background-color: blueviolet;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}
fieldset{
    border: 3px solid blueviolet;
    border-radius: 10px;
    margin: 10px 100px;
}
.Button{
    color: white;
    border-radius: 10px;
    margin: 10px 0px 0px 650px;
    padding: 10px;
    background-color: blueviolet;
}
.Button1{
    border-radius: 10px;
    margin: 10px 50px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
table{
    margin: 10px 200px;
}